.App {
  min-height: 100vh;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
}

.recipe{
  size: 0vmax;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}